<div class="size-finder-wrapper">
    <button class="size-finder-btn sf-open">
        <i>
            <img src="{{ 'search-plus.svg' | asset_url }}" alt="Measurement Icon"
                 width="20" height="20" class="size-finder-icon" />
        </i>

        <p>
            <strong>Find My Perfect Size </strong>
            Recommended for Brace & AFO Users
        </p>
    </button>
</div>

<div class="sf-modal product-size-finder-popup">

    <div class="sf-modal-content">
        <span class="sf-close">&times;</span>

         <div class="padd-20 sf-step-inner sf-category-btn sf-category-btn-wraper">
            <div class="title-box">
                <div class="step-label">STEP 1 OF 4</div>
                <h2>What would you like to measure ?</h2>
                <p>
                    Select a category to get sizing recommendations tailored for you.
                </p>
            </div>

            <div class="measure-btn-row">
                <button class="sf-category-btn sf-category-btn-shoes active">
                    <i>
                        <img src="{{ 'shoes_shoe_icon.svg' | asset_url }}"
                                alt="Measurement Icon"
                                class="sf-icon-img" />
                    </i>
                    Shoes
                </button>

                <button class="sf-category-btn sf-category-btn-clothes">
                    <i>
                        <img src="{{ 'clothes_icon.svg' | asset_url }}"
                                alt="clothes hanger Icon"
                                class="sf-icon-img" />
                    </i>
                    Clothing
                </button>
            </div>
        </div>

        <div class="shoes-block-messurement">
            {% render 'sf-shoes-popup' %}
        </div>
        <div class="clothes-block-messurement hidden" style="display: none;">
            {% render 'sf-cloth-popup' %}
        </div>
        

    </div>
</div>

<link href="{{ 'size-finder.css' | asset_url }}" rel="stylesheet">
<script src="{{ 'sf-main.js' | asset_url }}" defer></script>
<script src="{{ 'size-finder.js' | asset_url }}" defer></script>
<script src="{{ 'cloth-size-finder.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Find My Perfect Size",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Find My Perfect Size"
    },
    {
      "type": "text",
      "id": "sub_text",
      "label": "Sub Text",
      "default": "Recommended for Brace & AFO Users"
    }
  ]
}
{% endschema %}